/ARM/Debug/CSDDiagRT/CSDDiagRT.dll
/ARM/Debug/CSDDiagRT/CSDDiagRT.exp
/ARM/Debug/CSDDiagRT/CSDDiagRT.ilk
/ARM/Debug/CSDDiagRT/CSDDiagRT.lib
/ARM/Debug/CSDDiagRT/CSDDiagRT.pdb
/ARM/Debug/CSDDiagRT/CSDDiagRT.winmd
/ARM/Debug/DevProgram/DevProgram.dll
/ARM/Debug/DevProgram/DevProgram.exp
/ARM/Debug/DevProgram/DevProgram.ilk
/ARM/Debug/DevProgram/DevProgram.lib
/ARM/Debug/DevProgram/DevProgram.pdb
/ARM/Debug/DiagDebugLogWinPRT/DiagDebugLogWinPRT.dll
/ARM/Debug/DiagDebugLogWinPRT/DiagDebugLogWinPRT.exp
/ARM/Debug/DiagDebugLogWinPRT/DiagDebugLogWinPRT.ilk
/ARM/Debug/DiagDebugLogWinPRT/DiagDebugLogWinPRT.lib
/ARM/Debug/DiagDebugLogWinPRT/DiagDebugLogWinPRT.pdb
/ARM/Debug/RegistryUtils/RegistryUtils.dll
/ARM/Debug/RegistryUtils/RegistryUtils.exp
/ARM/Debug/RegistryUtils/RegistryUtils.ilk
/ARM/Debug/RegistryUtils/RegistryUtils.lib
/ARM/Debug/RegistryUtils/RegistryUtils.pdb
/ARM/Debug/RegistryWPRT/RegistryWPRT.dll
/ARM/Debug/RegistryWPRT/RegistryWPRT.exp
/ARM/Debug/RegistryWPRT/RegistryWPRT.ilk
/ARM/Debug/RegistryWPRT/RegistryWPRT.lib
/ARM/Debug/RegistryWPRT/RegistryWPRT.pdb
/ARM/Debug/WPTelnetD/WMAppManifest.xml
/ARM/Debug/WPTelnetD/wptd.exe
/ARM/Debug/WPTelnetD/wptd.ilk
/ARM/Debug/WPTelnetD/wptd.pdb
/ARM/Debug/WPTelnetDLib/WPTelnetDLib.lib
/WPTelnetDLib/Debug/*.log
/WPTelnetDLib/ARM/Debug/*.pch
/WPTelnetDLib/Debug/*.tlog
/WPTelnetDLib/ARM/Debug/*.tlog
/WPTelnetDLib/ARM/Debug/*.obj
/WPTelnetD/Debug/*.tlog
/WPTelnetDLib/Debug/*.idb
/WPTelnetDLib/ARM/Debug/*.log
/WPTelnetDLib/Debug/*.lastbuildstate
/WPTelnetD/Debug/WPTelnetD.lastbuildstate
/WPTelnetD/Debug/WPTelnetD.log
/WPTelnetD/Debug/WPTelnetD.unsuccessfulbuild
/WPTelnetD/Debug/vc110.idb
/WPTelnetDLib/ARM/Debug/WPTelnetDLib.lastbuildstate
/WPTelnetDLib/ARM/Debug/vc110.pdb
/WPTelnetDLib/Debug/WPTelnetDLib.unsuccessfulbuild
/WPTelnetDLib/Debug/WPTelnetDLib.vcxprojResolveAssemblyReference.cache
/ipch/registrywprt-5ed95fd4/registrywprt-6a46a9b2.ipch
/ipch/registrywprt-5ed95fd4/registrywprt-f5ee2ace.ipch
/HostApp/AppPackages/HostApp_1.0.0.7_ARM_Debug.appxupload
/HostApp/AppPackages/HostApp_1.0.0.7_ARM_Debug_Test/HostApp_1.0.0.7_ARM_Debug.appx
/HostApp/AppPackages/HostApp_1.0.0.7_ARM_Debug_Test/HostApp_1.0.0.7_ARM_Debug.appxsym
/HostApp/AppPackages/HostApp_1.0.0.8_ARM_Debug.appxupload
/HostApp/AppPackages/HostApp_1.0.0.8_ARM_Debug_Test/HostApp_1.0.0.8_ARM_Debug.appx
/HostApp/AppPackages/HostApp_1.0.0.8_ARM_Debug_Test/HostApp_1.0.0.8_ARM_Debug.appxsym
/HostApp/bin/ARM/Debug/App.xbf
/HostApp/bin/ARM/Debug/AppxManifest.xml
/HostApp/bin/ARM/Debug/ChooseDestination.xbf
/HostApp/bin/ARM/Debug/ChooseSourceApp.xbf
/HostApp/bin/ARM/Debug/CleanupDestination.xbf
/HostApp/bin/ARM/Debug/DoneScreen.xbf
/HostApp/bin/ARM/Debug/HostApp.build.appxrecipe
/HostApp/bin/ARM/Debug/HostApp.exe
/HostApp/bin/ARM/Debug/HostApp.pdb
/HostApp/bin/ARM/Debug/HostApp.xr.xml
/HostApp/bin/ARM/Debug/MainPage.xbf
/HostApp/bin/ARM/Debug/ShowManifest.xbf
/HostApp/bin/ARM/Debug/Welcome.xbf
/HostApp/bin/ARM/Debug/resources.pri
/HostApp/bin/ARM/Debug/wptelnetd.xap
/HostApp/bin/x86/Debug/App.xbf
/HostApp/bin/x86/Debug/AppxManifest.xml
/HostApp/bin/x86/Debug/ChooseDestination.xbf
/HostApp/bin/x86/Debug/ChooseSourceApp.xbf
/HostApp/bin/x86/Debug/CleanupDestination.xbf
/HostApp/bin/x86/Debug/DoneScreen.xbf
/HostApp/bin/x86/Debug/HostApp.build.appxrecipe
/HostApp/bin/x86/Debug/HostApp.exe
/HostApp/bin/x86/Debug/HostApp.pdb
/HostApp/bin/x86/Debug/HostApp.xr.xml
/HostApp/bin/x86/Debug/MainPage.xbf
/HostApp/bin/x86/Debug/ShowManifest.xbf
/HostApp/bin/x86/Debug/Welcome.xbf
/HostApp/bin/x86/Debug/resources.pri
/HostApp/obj/ARM/Debug/App.g.cs
/HostApp/obj/ARM/Debug/App.g.i.cs
/HostApp/obj/ARM/Debug/App.xaml
/HostApp/obj/ARM/Debug/App.xbf
/HostApp/obj/ARM/Debug/ChooseDestination.g.cs
/HostApp/obj/ARM/Debug/ChooseDestination.g.i.cs
/HostApp/obj/ARM/Debug/ChooseDestination.xaml
/HostApp/obj/ARM/Debug/ChooseDestination.xbf
/HostApp/obj/ARM/Debug/ChooseSourceApp.g.cs
/HostApp/obj/ARM/Debug/ChooseSourceApp.g.i.cs
/HostApp/obj/ARM/Debug/ChooseSourceApp.xaml
/HostApp/obj/ARM/Debug/ChooseSourceApp.xbf
/HostApp/obj/ARM/Debug/CleanupDestination.g.cs
/HostApp/obj/ARM/Debug/CleanupDestination.g.i.cs
/HostApp/obj/ARM/Debug/CleanupDestination.xaml
/HostApp/obj/ARM/Debug/CleanupDestination.xbf
/HostApp/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HostApp/obj/ARM/Debug/DoneScreen.g.cs
/HostApp/obj/ARM/Debug/DoneScreen.g.i.cs
/HostApp/obj/ARM/Debug/DoneScreen.xaml
/HostApp/obj/ARM/Debug/DoneScreen.xbf
/HostApp/obj/ARM/Debug/HostApp.csproj.FileListAbsolute.txt
/HostApp/obj/ARM/Debug/HostApp.exe
/HostApp/obj/ARM/Debug/HostApp.pdb
/HostApp/obj/ARM/Debug/HostApp.xr.xml
/HostApp/obj/ARM/Debug/MainPage.g.cs
/HostApp/obj/ARM/Debug/MainPage.g.i.cs
/HostApp/obj/ARM/Debug/MainPage.xaml
/HostApp/obj/ARM/Debug/MainPage.xbf
/HostApp/obj/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
/HostApp/obj/ARM/Debug/ProjectArchitectures.txt
/HostApp/obj/ARM/Debug/ShowManifest.g.cs
/HostApp/obj/ARM/Debug/ShowManifest.g.i.cs
/HostApp/obj/ARM/Debug/ShowManifest.xaml
/HostApp/obj/ARM/Debug/ShowManifest.xbf
/HostApp/obj/ARM/Debug/Stripped/HostApp.pdb
/HostApp/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HostApp/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HostApp/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HostApp/obj/ARM/Debug/Welcome.g.cs
/HostApp/obj/ARM/Debug/Welcome.g.i.cs
/HostApp/obj/ARM/Debug/Welcome.xaml
/HostApp/obj/ARM/Debug/Welcome.xbf
/HostApp/obj/ARM/Debug/XamlSaveStateFile.xml
/HostApp/obj/ARM/Debug/XamlTypeInfo.g.cs
/HostApp/obj/ARM/Debug/XamlTypeInfo.g.cs.backup
/HostApp/obj/ARM/Debug/_pkginfo.txt
/HostApp/obj/ARM/Debug/intermediatexaml/HostApp.exe
/HostApp/obj/ARM/Debug/intermediatexaml/HostApp.pdb
/HostApp/obj/ARM/Debug/layout.resfiles
/HostApp/obj/ARM/Debug/layout.resfiles.intermediate
/HostApp/obj/ARM/Debug/package.map.txt
/HostApp/obj/ARM/Debug/pri.resfiles
/HostApp/obj/ARM/Debug/pri.resfiles.intermediate
/HostApp/obj/ARM/Debug/priconfig.xml
/HostApp/obj/ARM/Debug/priconfig.xml.intermediate
/HostApp/obj/ARM/Debug/qualifiers.txt
/HostApp/obj/ARM/Debug/qualifiers.txt.intermediate
/HostApp/obj/ARM/Debug/resources.resfiles
/HostApp/obj/ARM/Debug/resources.resfiles.intermediate
/HostApp/obj/x86/Debug/App.g.cs
/HostApp/obj/x86/Debug/App.g.i.cs
/HostApp/obj/x86/Debug/App.xaml
/HostApp/obj/x86/Debug/App.xbf
/HostApp/obj/x86/Debug/ChooseDestination.g.cs
/HostApp/obj/x86/Debug/ChooseDestination.g.i.cs
/HostApp/obj/x86/Debug/ChooseDestination.xaml
/HostApp/obj/x86/Debug/ChooseDestination.xbf
/HostApp/obj/x86/Debug/ChooseSourceApp.g.cs
/HostApp/obj/x86/Debug/ChooseSourceApp.g.i.cs
/HostApp/obj/x86/Debug/ChooseSourceApp.xaml
/HostApp/obj/x86/Debug/ChooseSourceApp.xbf
/HostApp/obj/x86/Debug/CleanupDestination.g.cs
/HostApp/obj/x86/Debug/CleanupDestination.g.i.cs
/HostApp/obj/x86/Debug/CleanupDestination.xaml
/HostApp/obj/x86/Debug/CleanupDestination.xbf
/HostApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HostApp/obj/x86/Debug/DoneScreen.g.cs
/HostApp/obj/x86/Debug/DoneScreen.g.i.cs
/HostApp/obj/x86/Debug/DoneScreen.xaml
/HostApp/obj/x86/Debug/DoneScreen.xbf
/HostApp/obj/x86/Debug/HostApp.csproj.FileListAbsolute.txt
/HostApp/obj/x86/Debug/HostApp.exe
/HostApp/obj/x86/Debug/HostApp.pdb
/HostApp/obj/x86/Debug/HostApp.xr.xml
/HostApp/obj/x86/Debug/MainPage.g.cs
/HostApp/obj/x86/Debug/MainPage.g.i.cs
/HostApp/obj/x86/Debug/MainPage.xaml
/HostApp/obj/x86/Debug/MainPage.xbf
/HostApp/obj/x86/Debug/MultipleQualifiersPerDimensionFound.txt
/HostApp/obj/x86/Debug/ProjectArchitectures.txt
/HostApp/obj/x86/Debug/ShowManifest.g.cs
/HostApp/obj/x86/Debug/ShowManifest.g.i.cs
/HostApp/obj/x86/Debug/ShowManifest.xaml
/HostApp/obj/x86/Debug/ShowManifest.xbf
/HostApp/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HostApp/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HostApp/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HostApp/obj/x86/Debug/Welcome.g.cs
/HostApp/obj/x86/Debug/Welcome.g.i.cs
/HostApp/obj/x86/Debug/Welcome.xaml
/HostApp/obj/x86/Debug/Welcome.xbf
/HostApp/obj/x86/Debug/XamlSaveStateFile.xml
/HostApp/obj/x86/Debug/XamlTypeInfo.g.cs
/HostApp/obj/x86/Debug/XamlTypeInfo.g.cs.backup
/HostApp/obj/x86/Debug/intermediatexaml/HostApp.exe
/HostApp/obj/x86/Debug/intermediatexaml/HostApp.pdb
/HostApp/obj/x86/Debug/layout.resfiles
/HostApp/obj/x86/Debug/layout.resfiles.intermediate
/HostApp/obj/x86/Debug/pri.resfiles
/HostApp/obj/x86/Debug/pri.resfiles.intermediate
/HostApp/obj/x86/Debug/priconfig.xml
/HostApp/obj/x86/Debug/priconfig.xml.intermediate
/HostApp/obj/x86/Debug/qualifiers.txt
/HostApp/obj/x86/Debug/qualifiers.txt.intermediate
/HostApp/obj/x86/Debug/resources.resfiles
/HostApp/obj/x86/Debug/resources.resfiles.intermediate
/LaunchDebug/bin/Debug/LaunchDebug.exe
/LaunchDebug/bin/Debug/LaunchDebug.exe.config
/LaunchDebug/bin/Debug/LaunchDebug.pdb
/LaunchDebug/bin/Debug/LaunchDebug.vshost.exe
/LaunchDebug/bin/Debug/LaunchDebug.vshost.exe.config
/LaunchDebug/bin/Debug/LaunchDebug.vshost.exe.manifest
/LaunchDebug/bin/Debug/wptd.exe
/LaunchDebug/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LaunchDebug/obj/Debug/LaunchDebug.csproj.FileListAbsolute.txt
/LaunchDebug/obj/Debug/LaunchDebug.csprojResolveAssemblyReference.cache
/LaunchDebug/obj/Debug/LaunchDebug.exe
/LaunchDebug/obj/Debug/LaunchDebug.pdb
/LaunchDebug/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LaunchDebug/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LaunchDebug/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ManagerApp/CSDDiagRT/ARM/Debug/CL.read.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/CL.write.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.Build.CppClean.log
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.lastbuildstate
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.log
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.pch
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.vcxprojResolveAssemblyReference.cache
/ManagerApp/CSDDiagRT/ARM/Debug/CSDDiagRT.write.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/SystemAPIs.obj
/ManagerApp/CSDDiagRT/ARM/Debug/cl.command.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/link.11268.read.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/link.11268.write.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/link.command.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/link.read.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/link.write.1.tlog
/ManagerApp/CSDDiagRT/ARM/Debug/pch.obj
/ManagerApp/CSDDiagRT/ARM/Debug/vc110.pdb
/ManagerApp/CSDDiagRT/Debug/CL.read.1.tlog
/ManagerApp/CSDDiagRT/Debug/CL.write.1.tlog
/ManagerApp/CSDDiagRT/Debug/CSDDiagRT.lastbuildstate
/ManagerApp/CSDDiagRT/Debug/CSDDiagRT.log
/ManagerApp/CSDDiagRT/Debug/CSDDiagRT.pch
/ManagerApp/CSDDiagRT/Debug/CSDDiagRT.unsuccessfulbuild
/ManagerApp/CSDDiagRT/Debug/SystemAPIs.obj
/ManagerApp/CSDDiagRT/Debug/cl.command.1.tlog
/ManagerApp/CSDDiagRT/Debug/link.command.1.tlog
/ManagerApp/CSDDiagRT/Debug/link.read.1.tlog
/ManagerApp/CSDDiagRT/Debug/link.write.1.tlog
/ManagerApp/CSDDiagRT/Debug/pch.obj
/ManagerApp/CSDDiagRT/Debug/vc110.idb
/ManagerApp/CSDDiagRT/Debug/vc110.pdb
/ManagerApp/DevProgram/ARM/Debug/CL.read.1.tlog
/ManagerApp/DevProgram/ARM/Debug/CL.write.1.tlog
/ManagerApp/DevProgram/ARM/Debug/DevProgram.Build.CppClean.log
/ManagerApp/DevProgram/ARM/Debug/DevProgram.lastbuildstate
/ManagerApp/DevProgram/ARM/Debug/DevProgram.log
/ManagerApp/DevProgram/ARM/Debug/DevProgram.pch
/ManagerApp/DevProgram/ARM/Debug/DevProgram.write.1.tlog
/ManagerApp/DevProgram/ARM/Debug/SystemAPIs.obj
/ManagerApp/DevProgram/ARM/Debug/cl.command.1.tlog
/ManagerApp/DevProgram/ARM/Debug/link.command.1.tlog
/ManagerApp/DevProgram/ARM/Debug/link.read.1.tlog
/ManagerApp/DevProgram/ARM/Debug/link.write.1.tlog
/ManagerApp/DevProgram/ARM/Debug/pch.obj
/ManagerApp/DevProgram/ARM/Debug/vc110.pdb
/ManagerApp/DevProgram/Debug/CL.read.1.tlog
/ManagerApp/DevProgram/Debug/CL.write.1.tlog
/ManagerApp/DevProgram/Debug/DevProgram.lastbuildstate
/ManagerApp/DevProgram/Debug/DevProgram.log
/ManagerApp/DevProgram/Debug/DevProgram.pch
/ManagerApp/DevProgram/Debug/DevProgram.unsuccessfulbuild
/ManagerApp/DevProgram/Debug/cl.command.1.tlog
/ManagerApp/DevProgram/Debug/pch.obj
/ManagerApp/DevProgram/Debug/vc110.idb
/ManagerApp/DevProgram/Debug/vc110.pdb
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/CL.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/CL.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.Build.CppClean.log
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.lastbuildstate
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.log
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.pch
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.vcxprojResolveAssemblyReference.cache
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/DiagDebugLogWinPRT.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/SystemAPIs.obj
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/cl.command.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.command.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/pch.obj
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/vc110.pdb
/ManagerApp/DiagDebugLogWinPRT/Debug/CL.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/Debug/CL.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/Debug/DiagDebugLogWinPRT.lastbuildstate
/ManagerApp/DiagDebugLogWinPRT/Debug/DiagDebugLogWinPRT.log
/ManagerApp/DiagDebugLogWinPRT/Debug/DiagDebugLogWinPRT.pch
/ManagerApp/DiagDebugLogWinPRT/Debug/DiagDebugLogWinPRT.unsuccessfulbuild
/ManagerApp/DiagDebugLogWinPRT/Debug/DiagDebugLogWinPRT.vcxprojResolveAssemblyReference.cache
/ManagerApp/DiagDebugLogWinPRT/Debug/cl.command.1.tlog
/ManagerApp/DiagDebugLogWinPRT/Debug/pch.obj
/ManagerApp/DiagDebugLogWinPRT/Debug/vc110.idb
/ManagerApp/DiagDebugLogWinPRT/Debug/vc110.pdb
/ManagerApp/RegistryUtils/ARM/Debug/CL.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/CL.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.Build.CppClean.log
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.lastbuildstate
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.log
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.pch
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.vcxprojResolveAssemblyReference.cache
/ManagerApp/RegistryUtils/ARM/Debug/RegistryUtils.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/SystemAPIs.obj
/ManagerApp/RegistryUtils/ARM/Debug/cl.command.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.command.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/pch.obj
/ManagerApp/RegistryUtils/ARM/Debug/vc110.pdb
/ManagerApp/RegistryUtils/Debug/CL.read.1.tlog
/ManagerApp/RegistryUtils/Debug/CL.write.1.tlog
/ManagerApp/RegistryUtils/Debug/RegistryUtils.lastbuildstate
/ManagerApp/RegistryUtils/Debug/RegistryUtils.log
/ManagerApp/RegistryUtils/Debug/RegistryUtils.pch
/ManagerApp/RegistryUtils/Debug/RegistryUtils.unsuccessfulbuild
/ManagerApp/RegistryUtils/Debug/RegistryUtils.vcxprojResolveAssemblyReference.cache
/ManagerApp/RegistryUtils/Debug/cl.command.1.tlog
/ManagerApp/RegistryUtils/Debug/pch.obj
/ManagerApp/RegistryUtils/Debug/vc110.idb
/ManagerApp/RegistryUtils/Debug/vc110.pdb
/ManagerApp/RegistryWPRT/ARM/Debug/CL.read.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/CL.write.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.Build.CppClean.log
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.lastbuildstate
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.log
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.pch
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.vcxprojResolveAssemblyReference.cache
/ManagerApp/RegistryWPRT/ARM/Debug/RegistryWPRT.write.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/SystemAPIs.obj
/ManagerApp/RegistryWPRT/ARM/Debug/cl.command.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/link.command.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/link.read.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/link.write.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/pch.obj
/ManagerApp/RegistryWPRT/ARM/Debug/vc110.pdb
/ManagerApp/RegistryWPRT/Debug/CL.read.1.tlog
/ManagerApp/RegistryWPRT/Debug/CL.write.1.tlog
/ManagerApp/RegistryWPRT/Debug/RegistryWPRT.lastbuildstate
/ManagerApp/RegistryWPRT/Debug/RegistryWPRT.log
/ManagerApp/RegistryWPRT/Debug/RegistryWPRT.pch
/ManagerApp/RegistryWPRT/Debug/RegistryWPRT.unsuccessfulbuild
/ManagerApp/RegistryWPRT/Debug/RegistryWPRT.vcxprojResolveAssemblyReference.cache
/ManagerApp/RegistryWPRT/Debug/cl.command.1.tlog
/ManagerApp/RegistryWPRT/Debug/pch.obj
/ManagerApp/RegistryWPRT/Debug/vc110.idb
/ManagerApp/RegistryWPRT/Debug/vc110.pdb
/ManagerApp/RegistryWPRT/RegistryWPRT.vcxproj
/ManagerApp/RegistryWPRT/RegistryWPRT.vcxproj.user
/ManagerApp/RegistryWPRT/RegistryWPRT.winmd
/ManagerApp/RegistryWPRT/SystemAPIs.cpp
/ManagerApp/RegistryWPRT/SystemAPIs.h
/ManagerApp/RegistryWPRT/pch.cpp
/ManagerApp/RegistryWPRT/pch.h
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/CSDDiagRT.pdb
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/CSDDiagRT.winmd
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/DevProgram.winmd
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/DiagDebugLogWinPRT.winmd
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/RegistryUtils.winmd
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/RegistryWPRT.winmd
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/WPTelnet.Manager.ViewModel.dll
/ManagerApp/WPTelnet.Manager.ViewModel/Bin/ARM/Debug/WPTelnet.Manager.ViewModel.pdb
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/AppManifest.xaml
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/ApplicationIcon.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileLarge.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileMedium.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/Tiles/FlipCycleTileSmall.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/Tiles/IconicTileMediumLarge.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Assets/Tiles/IconicTileSmall.png
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/CSDDiagRT.pdb
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/CSDDiagRT.winmd
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/DevProgram.winmd
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/DiagDebugLogWinPRT.winmd
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Microsoft.Phone.Controls.dll
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/Properties/WMAppManifest.xml
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/RegistryUtils.winmd
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/RegistryWPRT.winmd
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/WPTelnet.Manager.ViewModel.dll
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/WPTelnet.Manager.ViewModel.pdb
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/WPTelnetD.xap
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/WPTelnetManagerApp.dll
/ManagerApp/WPTelnetManagerApp/Bin/ARM/Debug/WPTelnetManagerApp.pdb
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/App.g.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/App.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/DesignTimeResolveAssemblyReferences.cache
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/InformationPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/InformationPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/MainFrame.g.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/MainFrame.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/MainPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/MainPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/Pages/MainPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/Pages/MainPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManager.Resources.AppResources.resources
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.csproj.FileListAbsolute.txt
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.csproj.GenerateResource.Cache
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.csprojResolveAssemblyReference.cache
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.dll
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.g.resources
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/WPTelnetManagerApp.pdb
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/XapCacheFile.xml
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/App.g.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/App.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/InformationPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/InformationPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/MainFrame.g.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/MainFrame.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/MainPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/MainPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/Pages/MainPage.g.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/Pages/MainPage.g.i.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/WPTelnetManager.Resources.AppResources.resources
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/WPTelnetManagerApp.csproj.FileListAbsolute.txt
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/WPTelnetManagerApp.csproj.GenerateResource.Cache
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/WPTelnetManagerApp.csprojResolveAssemblyReference.cache
/ManagerApp/WPTelnetManagerApp/obj/x86/Debug/WPTelnetManagerApp.g.resources
/WPTelnetD.opensdf
/WPTelnetD.sdf
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/WPTelnet.Manager.ViewModel.csproj.FileListAbsolute.txt
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/WPTelnet.Manager.ViewModel.csprojResolveAssemblyReference.cache
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/WPTelnet.Manager.ViewModel.dll
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/WPTelnet.Manager.ViewModel.pdb
/ManagerApp/WPTelnet.Manager.ViewModel/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ManagerApp/WPTelnet.Manager.ViewModel/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ManagerApp/WPTelnet.Manager.ViewModel/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ManagerApp/WPTelnet.Manager.ViewModel/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HostApp/AppPackages/HostApp_1.0.0.9_ARM_Debug.appxupload
/HostApp/AppPackages/HostApp_1.0.0.9_ARM_Debug_Test/HostApp_1.0.0.9_ARM_Debug.appx
/HostApp/AppPackages/HostApp_1.0.0.9_ARM_Debug_Test/HostApp_1.0.0.9_ARM_Debug.appxsym
/HostApp/obj/ARM/Debug/WPTelnetManagerApp.csprojResolveAssemblyReference.cache
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.12424.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.12424.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.18220.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.18220.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.18608.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.18608.write.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.21396.read.1.tlog
/ManagerApp/DiagDebugLogWinPRT/ARM/Debug/link.21396.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.15040.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.15040.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.15780.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.15780.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.19752.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.19752.write.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.2956.read.1.tlog
/ManagerApp/RegistryUtils/ARM/Debug/link.2956.write.1.tlog
/ManagerApp/RegistryWPRT/ARM/Debug/.gitignore
/ManagerApp/WPTelnet.Manager.ViewModel/obj/ARM/Debug/WPTelnetManagerApp.csprojResolveAssemblyReference.cache
/ManagerApp/WPTelnetManagerApp/obj/ARM/Debug/TempPE/Resources.AppResources.Designer.cs.dll
/WPTelnetD.v12.suo
/WPTelnetD/WPTelnetD.vcxproj.user
/WPTelnetDLib/ARM/Debug/vc110.idb
/ipch/wptelnetdlib-9968feac/wptelnetdlib-36f51f56.ipch
